.form {
  padding-bottom: 74px;
  padding-top: 40px;

  form {
    padding-top: 40px;
    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 7px;
      color: $features;
    }

    input,
    textarea {
      border-radius: 6px;
      box-shadow: 0px 3px 8px #0000001a;
    }

    .position-absolute {
      top: -30px;
    }

    .input-group {
      margin: 30px 0;

      input {
        border-radius: 6px 0 0 6px !important;
      }

      span {
        border-radius: 0 6px 6px 0 !important;
      }
    }

    textarea {
      resize: none;
    }

    button {
      width: 178px;
      height: 50px;
      border-radius: 183px;
      border: none;
      margin-top: 20px;
      background-color: var(--bs-primary);
      color: white;
    }

    button:hover {
      color: white !important;
    }
  }
}
