.landing {
  padding-top: 100px;

  h1 {
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.7;
  }

  p {
    color: #747f92 !important;
    margin-bottom: 50px !important;
  }

  a.link {
    display: inline-block;
    border-radius: 25px;
    font-family: "Roboto";
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--bs-primary) !important;
  }

  a.link {
    color: white !important;
  }

  .play-modal {
    top: 50%;
    left: 50%;
    border: 2px solid #7070701a;
    border-radius: 50%;
    height: 132px;
    width: 132px;
    font-size: 2.875rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #0000000f;
    transform: translate(-50%, -50%);
      transition: all ease-in .3s;
    i {
      color: var(--bs-primary) !important;
    }
  }

  .play-modal:hover{
  width: 142px;
  height: 142px;
  }
}

// Carousel
.brands {
  margin-top: 150px;
  .owl-carousel {
    border-top: 2px solid #eeeeee !important;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 92px;
      padding: 50px 0 80px 0;
      margin-top: 20px !important;
      img {
        display: block;
        opacity: 0.25;
      }
    }

    .owl-item:first-child img {
      width: 249px;
    }
    .owl-item:nth-child(2) img {
      width: 206px;
    }
    .owl-item:nth-child(3) img {
      width: 201px;
    }
    .owl-item:nth-child(4) img {
      width: 179px;
    }
    .owl-item:nth-child(2) img {
      width: 250px;
    }
    .owl-item:last-child img {
      width: 214px;
    }
  }

  .owl-stage-outer {
    position: relative;
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    height: 50px;
    width: 50px;
    top: 20%;
    position: absolute;
    background-color: white !important;
    span {
      font-size: 5rem;
      color: #d0d3d6;
    }
  }

  .owl-nav .owl-prev {
    left: -100px;
  }

  .owl-nav .owl-next {
    right: -100px;
  }
}

.landing {
  @media (max-width: 767px) {
    .owl-nav .owl-prev {
      left: -10px;
    }

    .owl-nav .owl-next {
      right: -10px;
    }
  }

  @media (max-width: 991px) {
    .info,
    .banner {
      padding: 0 30px;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 50px;
    }
    .row {
      flex-direction: column-reverse;
    }

    .play-modal {
      display: none;
    }

    .owl-nav .owl-prev {
      left: -20px;
      transform: translateY(-40%);
    }

    .owl-nav .owl-next {
      right: -20px;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 992px) {
    .banner img {
      height: 650px;
    }
  }
}
