.work {
  margin-top: 100px;
  margin-bottom: 140px;
  .tabs {
    margin-top: 50px;
    .nav-tabs {
      border-bottom: none !important;
    }

    button {
      margin-right: 33px;
      border: none !important;
      color: $features;
      font-size: 1.125rem;
    }

    button.active {
      color: var(--bs-primary);
    }

    .img {
      padding: 12px;
    }
  }

  .tab {
    margin-top: 50px;
    display: flex;

    .row-1 .img,
    .row-3 .img {
      width: calc(100% / 4);
    }

    .row-2 {
      .img-6 {
        width: calc(100% / 2);
      }

      .img-7,
      .img-8 {
        width: calc(100% / 4);
      }
    }
  }

  .tab-1,
  .tab-2 {
    .img-1 {
      width: calc(100% / 3);
      img {
        height: 100%;
      }
    }
  }

  .tab-3 .tab {
    .img-1,
    .wraper {
      width: calc(100% / 2) !important;
    }

    .img-1 {
      height: 500px;
      overflow: hidden;
    }

    .img-1 img {
      width: 100%;
      object-fit: contain;
    }
  }

  .tab-2 .tab {
    flex-direction: row-reverse;
  }

  .tab-4 .tab {
    display: flex;
    flex-direction: column !important;

    .img-1 {
      width: 100%;
      img {
        width: 100% !important;
        height: 205px;
        object-fit: cover;
      }
    }

    .row-1 {
      .img-2,
      .img-3,
      .img-4,
      .img-5 {
        width: calc(100% / 6);
      }

      .img-6 {
        width: calc(100% / 3);
      }
    }

    .row-2 {
      .img {
        width: calc(100% / 6);
      }
    }
  }

  .row {
    display: flex;
  }

  button {
    margin-right: 15px !important;
  }
}

.work {
  @media (max-width: 991px) {
    .tabs {
      margin-top: 46px;
    }

    img {
      object-fit: cover;
    }

    .tab-1 .tab,
    .tab-2 .tab {
      flex-direction: column !important;
      .img-1 {
        width: 100%;
      }

      .img-1 img {
        width: 100%;
        height: 278px;
      }

      .row-2,
      .row-3 {
        flex-wrap: wrap;
      }

      .img-6 {
        width: 100%;
        img {
          width: 100%;
          height: 184px;
        }
      }

      .row-1 .img,
      .row-3 .img {
        width: calc(100% / 2);
        img {
          width: 100%;
          height: 184px;
        }
      }

      .row-2 {
        .img-7,
        .img-8 {
          width: calc(100% / 2);
          img {
            width: 100%;
            height: 184px;
          }
        }
      }
    }

    button {
      margin-right: 15px !important;
    }
  }
}
