@import "vendor/bootstrap.min.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Lt";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--bs-primary) !important;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Lt";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.navbar {
  background-color: transparent !important;
}
.navbar .nav-item .nav-link {
  color: black !important;
  text-transform: uppercase;
}
.navbar .nav-item .nav-link.active {
  color: var(--bs-primary) !important;
}
.navbar .nav-item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    z-index: 2;
    box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.0784313725);
  }
  .navbar .navbar-collapse li {
    padding-left: 20px;
    background-color: white !important;
  }
  .navbar .navbar-collapse li a {
    display: block;
    padding: 25px 20px;
    font-weight: bolder;
    background-color: white !important;
  }
}
@media (min-width: 992px) {
  .navbar {
    margin-top: 30px;
  }
}

.landing {
  padding-top: 100px;
}
.landing h1 {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.7;
}
.landing p {
  color: #747f92 !important;
  margin-bottom: 50px !important;
}
.landing a.link {
  display: inline-block;
  border-radius: 25px;
  font-family: "Roboto";
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--bs-primary) !important;
}
.landing a.link {
  color: white !important;
}
.landing .play-modal {
  top: 50%;
  left: 50%;
  border: 2px solid rgba(112, 112, 112, 0.1019607843);
  border-radius: 50%;
  height: 132px;
  width: 132px;
  font-size: 2.875rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0588235294);
  transform: translate(-50%, -50%);
  transition: all ease-in 0.3s;
}
.landing .play-modal i {
  color: var(--bs-primary) !important;
}
.landing .play-modal:hover {
  width: 142px;
  height: 142px;
}

.brands {
  margin-top: 150px;
}
.brands .owl-carousel {
  border-top: 2px solid #eeeeee !important;
}
.brands .owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  padding: 50px 0 80px 0;
  margin-top: 20px !important;
}
.brands .owl-carousel .item img {
  display: block;
  opacity: 0.25;
}
.brands .owl-carousel .owl-item:first-child img {
  width: 249px;
}
.brands .owl-carousel .owl-item:nth-child(2) img {
  width: 206px;
}
.brands .owl-carousel .owl-item:nth-child(3) img {
  width: 201px;
}
.brands .owl-carousel .owl-item:nth-child(4) img {
  width: 179px;
}
.brands .owl-carousel .owl-item:nth-child(2) img {
  width: 250px;
}
.brands .owl-carousel .owl-item:last-child img {
  width: 214px;
}
.brands .owl-stage-outer {
  position: relative;
}
.brands .owl-nav .owl-prev,
.brands .owl-nav .owl-next {
  height: 50px;
  width: 50px;
  top: 20%;
  position: absolute;
  background-color: white !important;
}
.brands .owl-nav .owl-prev span,
.brands .owl-nav .owl-next span {
  font-size: 5rem;
  color: #d0d3d6;
}
.brands .owl-nav .owl-prev {
  left: -100px;
}
.brands .owl-nav .owl-next {
  right: -100px;
}

@media (max-width: 767px) {
  .landing .owl-nav .owl-prev {
    left: -10px;
  }
  .landing .owl-nav .owl-next {
    right: -10px;
  }
}
@media (max-width: 991px) {
  .landing .info,
.landing .banner {
    padding: 0 30px;
  }
  .landing h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
  .landing .row {
    flex-direction: column-reverse;
  }
  .landing .play-modal {
    display: none;
  }
  .landing .owl-nav .owl-prev {
    left: -20px;
    transform: translateY(-40%);
  }
  .landing .owl-nav .owl-next {
    right: -20px;
    transform: translateY(-50%);
  }
}
@media (min-width: 992px) {
  .landing .banner img {
    height: 650px;
  }
}

.services {
  padding-top: 144px;
}
.services .service {
  padding: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.0784313725);
}
.services .service h3 {
  font-size: 1.563rem;
}
.services .service i {
  display: block;
  margin-bottom: 30px;
}
.services .service.active {
  background-color: var(--bs-primary);
  color: white;
  box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.5019607843);
}
.services .info {
  padding-top: 51px;
}
.services .info p:first-child,
.services .info p:nth-child(2) {
  color: var(--bs-primary);
  font-weight: bolder;
}
.services .info h2 {
  margin-bottom: 30px;
  font-weight: bolder;
}
.services .info h2 + p {
  margin-bottom: 50px;
  color: #747F92;
}
.services .info a {
  border: solid var(--bs-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  font-size: 0.938rem;
  font-weight: bolder;
  color: var(--bs-primary);
}

@media (max-width: 991px) {
  .services {
    padding-top: 50px !important;
  }
  .services .container {
    padding: 0 30px;
  }
  .services .info {
    padding-top: 0;
  }
  .services .container > .row {
    flex-direction: column-reverse;
  }
  .services .container > .row .row {
    justify-content: space-between;
  }
  .services h2 {
    font-size: 2.5rem !important;
  }
  .services h2 + p {
    display: none;
  }
  .services .service {
    padding: 20px;
  }
  .services .service h3 {
    font-size: 1.125rem;
  }
  .services .service p {
    display: none;
  }
  .services .info {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .services .info {
    padding-left: 100px;
  }
  .services .info h2 {
    font-size: 3.125rem;
  }
}

.contact {
  position: relative;
  min-height: 300px;
  margin-top: 180px;
  background-image: linear-gradient(264deg, #1b8cfd 0%, #2fc4fc 100%);
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.contact h2 {
  position: relative;
  font-size: 3.125rem;
  z-index: 2;
}
.contact a {
  position: relative;
  padding: 15px 30px;
  color: var(--bs-primary);
  border: none;
  border-radius: 25px;
  z-index: 2;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px 0 !important;
    margin-top: 90px;
  }
  .contact::after {
    background-position: 0 0;
  }
}

.features {
  padding: 100px 0 150px;
}
.features li {
  margin-bottom: 50px;
}
.features i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
  border-radius: 50%;
  border: 4px solid #dde3ec;
}
.features h3 {
  color: #1E2F4F;
}
.features p {
  color: #747F92;
}

@media (max-width: 991px) {
  .features {
    padding: 100px 0 50px !important;
  }
  .features .row {
    flex-direction: column;
  }
  .features .img {
    margin-bottom: 50px;
  }
  .features li {
    flex-direction: column;
    text-align: center;
  }
  .features i {
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .features ul {
    padding-top: 100px;
  }
  .features i {
    margin-right: 30px;
  }
}

.statistics {
  padding: 80px 0;
}
.statistics ul li {
  display: flex;
  align-items: center;
}
.statistics ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 100px !important;
  height: 100px !important;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.statistics ul i img {
  width: 35px;
}
.statistics ul li:first-child i {
  background-color: #f2f9ff;
}
.statistics ul li:nth-child(2) i {
  background-color: #fde8dc;
}
.statistics ul li:nth-child(3) i {
  background-color: rgb(235, 255, 244);
}
.statistics ul li:last-child i {
  background-color: rgba(113, 110, 241, 0.2);
}
.statistics .num {
  font-weight: bolder;
  font-size: 3.125rem;
  color: #1E2F4F;
}
.statistics p {
  color: var(--bs-primary);
  font-size: 1.25rem;
}

@media (max-width: 991px) {
  .statistics {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.work {
  margin-top: 100px;
  margin-bottom: 140px;
}
.work .tabs {
  margin-top: 50px;
}
.work .tabs .nav-tabs {
  border-bottom: none !important;
}
.work .tabs button {
  margin-right: 33px;
  border: none !important;
  color: #1E2F4F;
  font-size: 1.125rem;
}
.work .tabs button.active {
  color: var(--bs-primary);
}
.work .tabs .img {
  padding: 8px;
}
.work .tab {
  display: flex;
  margin-top: 50px;
}
.work .tab .wraper {
  display: flex;
}
.work .tab .img-2 {
  width: 50% !important;
}
.work .tab .img-4 {
  width: 25% !important;
}
.work .tab-1 .tab .img-1 {
  width: 100%;
}
.work .tab-1 .tab .img-1 img {
  height: 653px;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.work .tab-1 .tab .wraper {
  flex-wrap: wrap;
}
.work .tab-1 .tab .wraper img {
  height: 204px;
}
.work .tab-2 .tab {
  flex-direction: row-reverse;
}
.work .tab-2 .tab .img-1 {
  width: 100%;
}
.work .tab-2 .tab .img-1 img {
  height: 653px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .tab-2 .tab .wraper {
  flex-wrap: wrap;
}
.work .tab-2 .tab .wraper .img-2 {
  order: 9;
}
.work .tab-2 .tab .wraper .img-2 + .img-4 {
  order: 10;
}
.work .tab-2 .tab .wraper .img-2 + .img-4 + .img-4 {
  order: 11;
}
.work .tab-2 .tab .wraper img {
  height: 204px;
}
.work .tab-3 .tab .img-1 {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .tab-3 .tab .wraper {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.work .tab-3 .tab .wraper .img-2 {
  width: 25% !important;
  order: 4;
}
.work .tab-3 .tab .wraper .img-4:nth-child(6) {
  width: 50% !important;
  order: 5 !important;
}
.work .tab-3 .tab .wraper .img-4:nth-child(6) img {
  width: 100%;
}
.work .tab-3 .tab .wraper .img-4:nth-child(2) {
  order: 12;
}
.work .tab-3 .tab .wraper .img-4:nth-child(6) {
  order: 6;
}
.work .tab-3 .tab .wraper .img-4:nth-child(7) {
  order: 7;
}
.work .tab-3 .tab .wraper .img-4:nth-child(8) {
  order: 8;
}
.work .tab-3 .tab .wraper .img-4:nth-child(9) {
  order: 9;
}
.work .tab-3 .tab .wraper .img-4:nth-child(10) {
  order: 10;
}
.work .tab-3 .tab .wraper .img-4:nth-child(11) {
  order: 11;
}
.work .tab-3 .tab .wraper .img-4:nth-child(12) {
  order: 12;
}
.work .tab-3 .tab .wraper img {
  height: 182px;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .tab-4 .tab {
  display: flex;
  flex-direction: column;
}
.work .tab-4 .tab .img-1 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work .tab-4 .tab .img-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 205px;
}
.work .tab-4 .tab .wraper {
  display: flex;
  flex-wrap: wrap;
}
.work .tab-4 .tab .wraper .img-4:first-child {
  order: 3;
}
.work .tab-4 .tab .wraper .img-4:nth-child(2) {
  order: 4;
}
.work .tab-4 .tab .wraper .img-4:nth-child(3) {
  order: 2;
}
.work .tab-4 .tab .wraper .img-4:nth-child(4) {
  order: 2;
}
.work .tab-4 .tab .wraper .img-2 {
  order: 5;
}
.work .tab-4 .tab .wraper .img-4:nth-child(6) {
  order: 6;
}
.work .tab-4 .tab .wraper .img-4:nth-child(7) {
  order: 7;
}
.work .tab-4 .tab .wraper .img-4:nth-child(8) {
  order: 8;
}
.work .tab-4 .tab .wraper .img-4:nth-child(9) {
  order: 9;
}
.work .tab-4 .tab .wraper .img-4:nth-child(10) {
  order: 10;
}
.work .tab-4 .tab .wraper .img-4:nth-child(11) {
  order: 11;
}
.work .tab-4 .tab .img img {
  height: 205px;
  width: 100%;
}
.work .tab-4 .tab .img-4 {
  width: 16.6666666667% !important;
}
.work .tab-4 .tab .img-2 {
  width: 33.3333333333% !important;
}
.work .row {
  display: flex;
}
.work button {
  margin-right: 15px !important;
}

@media (max-width: 991px) {
  .work {
    margin-bottom: 57px;
  }
  .work button {
    margin-right: 0px !important;
    padding: 8px 16px !important;
  }
  .work .tab {
    margin-top: 20px !important;
    flex-direction: column !important;
  }
  .work .tab-1 .img-1 img,
.work .tab-2 .img-1 img,
.work .tab-3 .img-1 img,
.work .tab-4 .img-1 img {
    width: 100% !important;
    height: 278px !important;
  }
  .work .tab-1 .img-2,
.work .tab-2 .img-2,
.work .tab-3 .img-2,
.work .tab-4 .img-2 {
    width: 100% !important;
  }
  .work .tab-1 .img-2 img,
.work .tab-1 .img-4 img,
.work .tab-2 .img-2 img,
.work .tab-2 .img-4 img,
.work .tab-3 .img-2 img,
.work .tab-3 .img-4 img,
.work .tab-4 .img-2 img,
.work .tab-4 .img-4 img {
    width: 100%;
    height: 184px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .work .tab-1 .img-4,
.work .tab-2 .img-4,
.work .tab-3 .img-4,
.work .tab-4 .img-4 {
    width: 50% !important;
  }
}

.blog {
  padding-bottom: 88px;
}
.blog .head-section {
  padding-top: 70px !important;
  margin-bottom: 50px;
}
.blog .owl-item {
  padding: 20px 10px;
}
.blog .card {
  border: none;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.0784313725);
}
.blog .card .info {
  padding: 20px;
  border-bottom: 1px #dde3ec solid;
}
.blog .card .info h3 {
  color: #1e2f4f;
}
.blog .d-flex {
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
}
.blog .d-flex .user {
  margin: 15px 0;
}
.blog .d-flex .user p {
  margin: 0 !important;
  margin-left: 8px !important;
  font-weight: bolder;
}
.blog .d-flex .time {
  display: flex;
  color: #747F92;
}
.blog .d-flex .time p {
  margin: 0;
}
.blog .d-flex .time i {
  padding-right: 5px;
  font-size: 1.5rem;
}
.blog .d-flex + p {
  color: #747F92;
  font-size: 0.875rem;
}
.blog .reacts {
  display: flex;
  padding: 25px 20px;
  border-radius: 0px 0px 10px 10px;
  color: #454f66;
}
.blog .reacts div {
  align-items: center;
  display: flex;
}
.blog .reacts div:first-child {
  margin-right: 50px;
}
.blog .reacts i {
  margin-right: 8px;
  font-size: 1.25rem;
}
.blog .reacts p {
  margin: 0;
}
.blog .owl-carousel .owl-item .user {
  display: flex;
  align-items: center;
}
.blog .owl-carousel .owl-item .user img {
  width: 40px;
}
.blog .item {
  padding: 20px 0;
}
.blog .item img {
  margin: auto !important;
}
.blog a {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 178px;
  height: 50px;
  margin-top: 67px;
  border-radius: 183px;
  border: none;
  background-color: var(--bs-primary);
  color: #f5f5f5;
  font-weight: bolder;
}
.blog a:hover {
  color: #f5f5f5 !important;
}

@media (max-width: 991px) {
  .blog .owl-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.manager {
  padding: 129px 0;
  background-image: url("../images/manager-section.png");
  background-repeat: no-repeat;
  text-align: center;
}
.manager .ceo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.manager .owl-theme .owl-dots .owl-dot span {
  background-color: white !important;
}
.manager .owl-theme p {
  margin-top: 10px;
  margin-bottom: 50px;
  color: white !important;
}
.manager .owl-item img {
  width: 150px;
  margin: auto;
}
.manager .owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--bs-primary) !important;
}

.questions {
  padding-bottom: 82px;
  margin-top: -70px;
}
.questions .head-section {
  padding-top: 70px;
}
.questions .accordion {
  margin-top: 45px;
}
.questions .accordion-button {
  border-radius: 20px;
}
.questions .accordion-item {
  padding: 10px 0 !important;
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1019607843);
}
.questions .accordion-item button {
  font-size: 1.25rem;
}
.questions .accordion-item p {
  color: #747f92;
}
.questions .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.questions :focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.questions .accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

.form {
  padding-bottom: 74px;
  padding-top: 40px;
}
.form form {
  padding-top: 40px;
}
.form form .form-group {
  margin-bottom: 20px;
}
.form form label {
  display: block;
  margin-bottom: 7px;
  color: #1E2F4F;
}
.form form input,
.form form textarea {
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1019607843);
}
.form form .position-absolute {
  top: -30px;
}
.form form .input-group {
  margin: 30px 0;
}
.form form .input-group input {
  border-radius: 6px 0 0 6px !important;
}
.form form .input-group span {
  border-radius: 0 6px 6px 0 !important;
}
.form form textarea {
  resize: none;
}
.form form button {
  width: 178px;
  height: 50px;
  border-radius: 183px;
  border: none;
  margin-top: 20px;
  background-color: var(--bs-primary);
  color: white;
}
.form form button:hover {
  color: white !important;
}

footer {
  padding-top: 50px;
  background-color: #1e2f4f;
}
footer .container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-image: url("../images/SVG/footer.svg");
  background-size: contain;
}
footer .row {
  margin-bottom: 50px;
}
footer h3 {
  color: white;
  margin-bottom: 39px;
  font-size: 1.25rem;
}
footer .info .d-flex {
  margin-bottom: 39px;
}
footer .info h2 {
  margin-left: 10px;
  color: white;
}
footer .info p {
  color: #ffffff;
  margin-bottom: 30px;
}
footer .info li a {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #747f92;
  color: #1e2f4f;
  transition: all ease-in 0.3s;
}
footer .info li:hover a {
  background-color: white;
}
footer .info li a i {
  color: #1e2f4f;
}
footer li a {
  display: block;
  color: #adb6c4 !important;
  margin-bottom: 13px;
  transition: all ease-in 0.3s;
}
footer li:hover a {
  color: white !important;
}
footer .links-contact a {
  padding-left: 25px;
  position: relative;
}
footer .links-contact i {
  position: absolute;
  left: 0px;
}
footer .rights {
  padding: 30px 0;
  border-top: 1px #adb6c4 solid;
  color: #adb6c4;
}
footer .email {
  position: relative;
}
footer .email input {
  padding: 12px 0;
}
footer .email button {
  position: absolute;
  top: 8px;
  right: 40px;
  background: transparent;
  border: none;
}
footer .email i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--bs-primary);
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.head-section {
  text-align: center;
}
.head-section h2 {
  position: relative;
  padding-bottom: 20px;
  color: #1E2F4F;
  font-size: 3.125rem;
  font-weight: bolder;
}
.head-section h2 span {
  color: var(--bs-primary);
}
.head-section h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 50%;
  transform: translateX(50%);
  width: 100px;
  height: 3px;
  background-color: var(--bs-primary);
}
.head-section p {
  margin-top: 30px;
  color: #747F92;
}
@media (max-width: 991px) {
  .head-section p {
    display: none;
  }
}/*# sourceMappingURL=styls.css.map */