@import "vendor/bootstrap.min.css";
@import "/assets/fonts/stylesheet.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Roboto Lt";
}

a {
  text-decoration: none;
}

.navbar {
  background-color: transparent !important;
}
.navbar .nav-item .nav-link {
  color: black !important;
  text-transform: uppercase;
}
.navbar .nav-item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    z-index: 2;
  }
  .navbar .navbar-collapse li {
    padding-left: 20px;
    background-color: white !important;
  }
  .navbar .navbar-collapse li a {
    display: block;
    padding: 25px 20px;
    font-weight: bolder;
    background-color: white !important;
  }
}
@media (min-width: 992px) {
  .navbar {
    margin-top: 30px;
  }
}

.landing {
  padding-top: 100px;
}
.landing h1 {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.7;
}
.landing p {
  color: #747f92 !important;
  margin-bottom: 50px !important;
}
.landing a.link {
  display: inline-block;
  border-radius: 25px;
  font-family: "Roboto";
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--bs-primary) !important;
}
.landing .play-modal {
  top: 50%;
  left: 50%;
  border: 2px solid rgba(112, 112, 112, 0.1019607843);
  border-radius: 50%;
  height: 132px;
  width: 132px;
  font-size: 2.875rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0588235294);
  transform: translate(-50%, -50%);
}
.landing .play-modal i {
  color: var(--bs-primary) !important;
}

.brands {
  margin-top: 150px;
}
.brands .owl-carousel {
  border-top: 2px solid #eeeeee !important;
}
.brands .owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin-top: 20px !important;
  height: 100px;
}
.brands .owl-carousel .item img {
  max-height: 100%;
  opacity: 0.25;
  filter: hue-rotate(2);
}

@media (max-width: 991px) {
  .landing .info,
.landing .banner {
    padding: 0 30px;
  }
  .landing h1 {
    font-size: 2.5rem;
  }
  .landing .row {
    flex-direction: column-reverse;
  }
  .landing .play-modal {
    display: none;
  }
}
@media (min-width: 992px) {
  .landing .banner img {
    height: 650px;
  }
}

.services {
  padding-top: 144px;
}
.services .service {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.0784313725);
}
.services .service h3 {
  font-size: 1.563rem;
}
.services .service i {
  display: block;
  margin-bottom: 30px;
}
.services .service.active {
  background-color: var(--bs-primary);
  color: white;
  box-shadow: 0px 6px 20px rgba(27, 140, 253, 0.5019607843);
}
.services .info {
  padding-top: 51px;
}
.services .info p:first-child {
  color: var(--bs-primary);
  font-weight: bolder;
}
.services .info h2 {
  margin-bottom: 30px;
  font-weight: bolder;
}
.services .info h2 + p {
  margin-bottom: 50px;
  color: #747F92;
}
.services .info a {
  border: solid var(--bs-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  font-size: 0.938rem;
  font-weight: bolder;
  color: var(--bs-primary);
}

@media (max-width: 991px) {
  .services .container > .row {
    flex-direction: column-reverse;
  }
  .services .container > .row .row {
    justify-content: space-between;
  }
  .services .service h3 {
    font-size: 1.2rem;
  }
  .services .service p {
    display: none;
  }
  .services .info {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .services .info {
    padding-left: 100px;
  }
  .services .info h2 {
    font-size: 3.125rem;
  }
}

.contact {
  height: 300px;
  margin-top: 180px;
  background-image: linear-gradient(264deg, #1b8cfd 0%, #2fc4fc 100%);
}
.contact button {
  padding: 15px 30px;
  color: var(--bs-primary);
  border: none;
  border-radius: 25px;
}

.features {
  padding: 100px 0 150px;
}
.features li {
  margin-bottom: 50px;
}
.features i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #dde3ec;
}
.features h3 {
  color: #1E2F4F;
}
.features p {
  color: #747F92;
}

@media (max-width: 991px) {
  .features .row {
    flex-direction: column-reverse;
  }
  .features .img {
    margin-bottom: 50px;
  }
  .features li {
    flex-direction: column;
    text-align: center;
  }
  .features i {
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .features ul {
    padding-top: 100px;
  }
  .features i {
    margin-right: 30px;
    width: 160px !important;
  }
}

.statistics {
  padding: 80px 0;
}
.statistics ul li {
  display: flex;
}
.statistics ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 100px !important;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.statistics ul i img {
  width: 35px;
}
.statistics ul li:first-child i {
  background-color: #f2f9ff;
}
.statistics ul li:nth-child(2) i {
  background-color: #fde8dc;
}
.statistics ul li:nth-child(3) i {
  background-color: rgb(235, 255, 244);
}
.statistics ul li:last-child i {
  background-color: rgba(113, 110, 241, 0.2);
}
.statistics .num {
  font-size: 3.125rem;
  color: #1E2F4F;
}
.statistics p {
  margin-top: 14px;
  color: var(--bs-primary);
  font-size: 1.25rem;
}

.work {
  margin-bottom: 140px;
}
.work .tabs {
  margin-top: 50px;
}
.work .tabs .nav-tabs {
  border-bottom: none !important;
}
.work .tabs button {
  margin-right: 33px;
  border: none !important;
  color: #1E2F4F;
  font-size: 1.125rem;
}
.work .tabs button.active {
  color: var(--bs-primary);
}
.work .tabs .img {
  padding: 12px;
}
.work .tab {
  margin-top: 50px;
  display: flex;
}
.work .tab .row-1 .img,
.work .tab .row-3 .img {
  width: 25%;
}
.work .tab .row-2 .img-6 {
  width: 50%;
}
.work .tab .row-2 .img-7,
.work .tab .row-2 .img-8 {
  width: 25%;
}
.work .tab-1 .img-1,
.work .tab-2 .img-1 {
  width: 33.3333333333%;
}
.work .tab-1 .img-1 img,
.work .tab-2 .img-1 img {
  height: 100%;
}
.work .tab.tab-3 .img-1 {
  flex-direction: 50% !important;
}
.work .tab.tab-3 .img-1 img {
  height: auto !important;
}
.work button {
  margin-right: 15px !important;
}

@media (max-width: 991px) {
  .work .tabs {
    margin-top: 46px;
  }
  .work img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .work .tab-1 .tab,
.work .tab-2 .tab {
    flex-direction: column !important;
  }
  .work .tab-1 .tab .img-1,
.work .tab-2 .tab .img-1 {
    width: 100%;
  }
  .work .tab-1 .tab .img-1 img,
.work .tab-2 .tab .img-1 img {
    width: 100%;
    height: 278px;
  }
  .work .tab-1 .tab .row-2,
.work .tab-1 .tab .row-3,
.work .tab-2 .tab .row-2,
.work .tab-2 .tab .row-3 {
    flex-wrap: wrap;
  }
  .work .tab-1 .tab .img-6,
.work .tab-2 .tab .img-6 {
    width: 100%;
  }
  .work .tab-1 .tab .img-6 img,
.work .tab-2 .tab .img-6 img {
    width: 100%;
    height: 184px;
  }
  .work .tab-1 .tab .row-1 .img,
.work .tab-1 .tab .row-3 .img,
.work .tab-2 .tab .row-1 .img,
.work .tab-2 .tab .row-3 .img {
    width: 50%;
  }
  .work .tab-1 .tab .row-1 .img img,
.work .tab-1 .tab .row-3 .img img,
.work .tab-2 .tab .row-1 .img img,
.work .tab-2 .tab .row-3 .img img {
    width: 100%;
    height: 184px;
  }
  .work .tab-1 .tab .row-2 .img-7,
.work .tab-1 .tab .row-2 .img-8,
.work .tab-2 .tab .row-2 .img-7,
.work .tab-2 .tab .row-2 .img-8 {
    width: 50%;
  }
  .work .tab-1 .tab .row-2 .img-7 img,
.work .tab-1 .tab .row-2 .img-8 img,
.work .tab-2 .tab .row-2 .img-7 img,
.work .tab-2 .tab .row-2 .img-8 img {
    width: 100%;
    height: 184px;
  }
  .work button {
    margin-right: 15px !important;
  }
}

.blog .card {
  border: none;
  background-color: white;
  margin-left: 20px;
  border-radius: 0px 0px 10px 10px;
}
.blog .card .info {
  padding: 20px;
  border-bottom: 1px #747F92 solid;
}
.blog .d-flex {
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
}
.blog .d-flex .user {
  margin: 15px 0;
}
.blog .d-flex .time {
  display: flex;
  color: #747F92;
}
.blog .d-flex .time p {
  margin: 0;
}
.blog .d-flex .time i {
  padding-right: 5px;
  font-size: 1.5rem;
}
.blog .d-flex + p {
  color: #747F92;
  font-size: 0.875rem;
}
.blog .reacts {
  display: flex;
  padding: 25px 20px;
  border-radius: 0px 0px 10px 10px;
  color: #454f66;
}
.blog .reacts div {
  align-items: center;
  display: flex;
  margin-right: 10px;
}
.blog .reacts i {
  margin-right: 5px;
}
.blog .reacts p {
  margin: 0;
}
.blog .owl-carousel .owl-item .user {
  display: flex;
  align-items: center;
}
.blog .owl-carousel .owl-item .user img {
  width: 40px;
}
.blog .owl-carousel .owl-item img {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  display: inline !important;
}
.blog button {
  width: 178px;
  height: 50px;
  margin-top: 67px;
  border-radius: 183px;
  border: none;
  background-color: var(--bs-primary);
  color: #f5f5f5;
  font-weight: bolder;
}

.head-section {
  margin-top: 70px;
  text-align: center;
}
.head-section h2 {
  position: relative;
  padding-bottom: 20px;
  color: #1E2F4F;
  font-size: 3.125rem;
  font-weight: bolder;
}
.head-section h2::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 50%;
  transform: translateX(50%);
  width: 100px;
  height: 3px;
  background-color: var(--bs-primary);
}
.head-section p {
  margin-top: 30px;
  color: #747F92;
}
@media (max-width: 991px) {
  .head-section p {
    display: none;
  }
}/*# sourceMappingURL=styls.css.map */