* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: "Roboto Lt";
}

a {
  text-decoration: none;
}




@import "vendor/bootstrap.min.css";
@import "/assets/fonts/stylesheet.css";
@import "./varibles";
@import "sections/navbar";
@import "sections/landing";
@import "sections/services";
@import "sections/features";
@import "sections/statistics";
@import "sections/work";
@import "sections/blog";
@import "sections/manager";

.head-section {
  margin-top: 70px;
  text-align: center;
  h2{
    position: relative;
    padding-bottom: 20px;
    color: $features;
    font-size: 3.125rem;
    font-weight: bolder;
    &::after{
      content: "";
      position: absolute;
      bottom: -3px;
      right: 50%;
      transform: translateX(50%);
      width: 100px;
      height: 3px;
      background-color: var(--bs-primary);
    }
  }
  p{
    margin-top: 30px;
    color: $gray;
  }

  @media (max-width: 991px) {
    p{
      display: none;
    }
  }
}
